<%- include("templates/cabeza") %>
  <br>
  <h1>Hola amigo, <%= " " + titulo %>
  </h1>
  <div class="container">
    <div class="jumbotron p-5 bg-info text-white rounded">
      <h1>Uso de Bootstrap Tutorial</h1>
      <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on
        the web.</p>
    </div>
    <p>Este es un texto</p>
    <p>Este es otro texto.-</p>
  </div>

  <div class="container mt-3">
    <h2>Ejemplo de otro Título</h2>
    <div class="t-4 p-5 text-white rounded" style="background-color:	hsla(240, 5%, 30%,.6)">
      <h1>Colocar título Interior</h1>
      <div class="row dos">
        <div class="col p-2">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat..</p>
        </div>
        <div class="col p-2">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat..</p>
        </div>
      </div>
    </div>
  </div>
  <%- include("templates/pie") %>