<br>
<h1>Hola amigo, <%= " " + titulo %></h1>
<div class="container-fluid bg-3 text-center">    
    <h3>Conciencia y fuerza natural</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <h4>Bosque</h4>
        <img src="https://images.pexels.com/photos/163703/woods-landscape-road-loyalsock-state-forest-163703.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-responsive" style="width:100%" alt="Image">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-sm-4"> 
       <h4>Océano</h4>
        <img src="https://images.pexels.com/photos/6478033/pexels-photo-6478033.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-responsive" style="width:100%" alt="Image">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-sm-4"> 
        <h4>Lagos</h4>
        <img src="https://images.pexels.com/photos/325807/pexels-photo-325807.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-responsive" style="width:100%" alt="Image">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>